@font-face {
  font-family: "Nouvelle";
  src: url("@/src/fonts/NouvelleBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nouvelle";
  src: url("@/src/fonts/NouvelleNormal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  --black: #000000;
  --white: #ffffff;
  --grey: #cccccc;
  --hue-0: var(--grey);
  --hue-1: #eeeeee;
  --hue-2: #f9defb;
  --hue-3: #aeaeae;

  background: #000000;
  color: var(--color);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  --accent: var(--grey);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: center;
  font-family: "Nouvelle", sans-serif;
}

* {
  letter-spacing: 1px;
  hyphens: auto;
  cursor: none;
}

a {
  color: var(--accent);
}

.segment {
  fill: var(--accent);
}

:root {
  color-scheme: dark;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

h1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

pre,
h2,
h3,
h4,
p {
  color: var(--accent);
  font-weight: normal;
  font-family: "Nouvelle", sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

p.adress {
  line-height: 18px;
}

span.no_wrap {
  white-space: nowrap;
}

a.link {
  display: block;
  text-decoration: none;
  padding-top: 15px;
}

header {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  max-width: 900px;
  width: 90%;
  padding: 0;
  border: 1px solid green;
  justify-content: center;
}

.logo {
  margin: 30px auto 0;
  fill: var(--accent);
  position: fixed;
  width: 300px;
  height: 140px;
  border: 1px solid red;
  z-index: 1;
}

section {
  margin: 0;
  padding: 0;
  background-color: #000000;
  height: 450vh;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: sticky;
  top: 0;
}

li {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

li img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

h3 {
  margin-left: 50px;
  color: var(--accent);
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.2;
  position: relative;
  bottom: 40px;
  display: inline-block;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 5px;
  transform: scaleX(0);
}

footer {
  margin: 0 auto;
  background: var(--black);
  height: 200px;
  max-width: 900px;
  width: 90%;
  text-align: center;
  border: 1px solid blue;
}
