@font-face {
  font-family: "Nouvelle";
  src: url("../fonts/NouvelleBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nouvelle";
  src: url("../fonts/NouvelleNormal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nouvelle";
  src: url("../fonts/NouvelleThinDiagonal.woff2") format("woff2");
  font-weight: thin;
  font-style: italic;
  font-display: swap;
}

body {
  --black: #000000;
  --white: #f5f5f5;
  --yellow: #e1a729;
  --hue-0: var(--yellow);
  --hue-1: #e12c18;
  --hue-2: #4cbb58;
  --hue-3: #e48216;
  --hue-4: #b777e1;
  --hue-5: #4c9ae0;

  background: var(--black);
  color: var(--color);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  --accent: var(--yellow);
  color: var(--color);
  padding: 0;
  margin: 0;
  font-family: "Nouvelle", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

* {
  hyphens: auto;
}

:root {
  color-scheme: dark;
}

.progress_bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 10px;
  background: white;
  transform: scaleY(0);
  transform-origin: left;
  z-index: 3;
}

/* ///////////////////////   TYPOGRAPHY*/

h1 {
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Nouvelle", sans-serif;
  font-weight: bold;
  color: var(--accent);
  font-size: 160px;
  letter-spacing: -1px;
  line-height: 165px;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: "Nouvelle", sans-serif;
  color: white;
  font-size: 40px;
  line-height: 42px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0;
  hyphens: none;
  text-wrap: balance;
}

h3 span {
  color: var(--accent);
  font-weight: normal;
}

h4 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 26px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: 1px;
}

p {
  font-family: "Nouvelle", sans-serif;
  padding: 0;
  margin: 0;
}

p.detail_negative {
  font-family: "Nouvelle", sans-serif;
  color: white;
  font-size: 16px;
  line-height: 0px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

p.detail_accent {
  font-family: "Nouvelle", sans-serif;
  color: var(--accent);
  font-size: 16px;
  line-height: 0px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

span.no_wrap {
  white-space: nowrap;
}

header {
  display: grid;
  margin: 0 auto;
  grid-template-rows: 120px 1fr 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
  width: 90%;
  max-width: 1100px;
  gap: 0;
  z-index: 0;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  position: sticky;
  top: 50px;
  fill: var(--accent);
  max-width: 300px;
  height: auto;
  z-index: 2;
  place-self: center;
}

svg {
  width: 100%;
  height: auto;
}

.hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
}

.intro_text {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: auto;
  z-index: 0;
  place-self: end;
  justify-content: center;
}

.additional_text {
  margin-top: 10%;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  min-height: 100px;
  z-index: 0;
  place-self: start;
}

#statement {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20% 30% 50%;
  width: 100%;
  height: 100vh;
  background-color: var(--accent);
}

.box_1 {
  display: grid;
  height: 100vh;
  grid-column: 1/2;
  grid-row: 1/4;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  z-index: 0;
  background-color: black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.box_1:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 60%, black 100%);
}

img.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.box_2 {
  display: grid;
  height: 100vh;
  grid-column: 2/3;
  grid-row: 1/4;
  align-items: end;
  justify-content: end;
  z-index: 0;
}

.box_3 {
  margin-right: 10%;
  display: grid;
  width: 100%;
  max-width: 40%;
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: right;
  align-items: start;
  justify-content: start;
  z-index: 1;
}

.box_4 {
  margin: 0 auto;
  display: grid;
  width: 60%;
  max-width: 1100px;
  grid-column: 1/3;
  grid-row: 3/4;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
}

#random_quotes {
  font-family: "Nouvelle", sans-serif;
  font-weight: thin;
  font-style: italic;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  font-size: 64px;
  line-height: 66px;
  letter-spacing: -1px;
  text-wrap: balance;
  hyphens: none;
  position: relative;
}

#random_quotes:after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  position: absolute;
  left: -100px;
  right: 0;
  bottom: -35px;
  background-color: white;
}

#portfolio {
  margin: 0;
  padding: 0;
  background: var(--black);
  min-height: 800;
}

.container_single_portfolio_img {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
}

.box_portfolio_number {
  width: 80%;
  max-width: 500px;
  padding-top: 20px;
  margin-right: 20px;
  font-family: "Nouvelle", sans-serif;
  color: white;
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  letter-spacing: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: end;
  align-self: start;
  justify-items: start;
  z-index: 1;
  color: var(--accent);
  border-top: 2px solid var(--accent);
}

.box_portfolio_description {
  display: grid;
  width: 80%;
  max-width: 500px;
  padding: 0;
  margin: 0 0 0 20px;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: start;
  align-self: start;
  align-content: start;
  align-items: start;
  z-index: 1;
  border-top: 2px solid var(--accent);
  color: white;
}

.container_detail {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 10px;
  row-gap: 5px;
}

.box_detail_titel {
  padding: 5px 0 5px 20px;
  height: 40px;
  grid-column: 1/3;
  grid-row: 1/2;
  background: var(--accent);
  align-content: center;
}

.box_detail_service_1 {
  margin: 0;
  padding: 6px 15px 5px 0;
  height: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: right;
  align-content: center;
  background: var(--accent);
}

.box_detail_service_2 {
  margin: 0;
  padding: 6px 0 5px 15px;
  height: 20px;
  grid-column: 2/2;
  grid-row: 2/3;
  text-align: left;
  align-content: center;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

.box_detail_client_1 {
  margin: 0;
  padding: 6px 15px 5px 0;
  height: 20px;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-content: start;
  text-align: right;
  align-content: center;
  background: var(--accent);
}

.box_detail_client_2 {
  margin: 0;
  padding: 6px 0 5px 15px;
  height: 20px;
  grid-column: 2/2;
  grid-row: 3/4;
  text-align: left;
  align-content: center;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

.box_detail_date_1 {
  margin: 0;
  padding: 6px 15px 5px 0;
  height: 20px;
  grid-column: 1/2;
  grid-row: 4/5;
  text-align: right;
  align-content: center;
  background: var(--accent);
}

.box_detail_date_2 {
  margin: 0;
  padding: 6px 0 5px 15px;
  height: 20px;
  grid-column: 2/2;
  grid-row: 4/5;
  text-align: left;
  align-content: center;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

.box_portfolio_img {
  height: 100vh;
  grid-column: 1/3;
  grid-row: 1/3;
  align-items: end;
  justify-content: end;
  z-index: 0;
  background: transparent;
}

.box_portfolio_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 50%;
  overflow: hidden;
  filter: grayscale(100%);
}

footer {
  display: grid;
  margin: 50px auto;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 300px;
  width: 90%;
  max-width: 1100px;
  gap: 20px;
}

.name,
.adress,
.contact {
  display: grid;
  color: var(--accent);
  align-content: start;
  text-align: center;
}

.baseline {
  color: #888888;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 55% 45%;
  grid-column: 1/4;
  grid-row: 2/3;
  align-content: center;
  text-align: center;
}

.box_coding {
  padding-right: 15px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: end;
}

.box_date {
  padding-left: 15px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: start;
}

.name,
.adress,
.baseline {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.contact {
  font-size: 16px;
  letter-spacing: 1px;
}

a.link {
  margin-bottom: 8px;
  padding-bottom: 2px;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

a.link:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--accent);
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 980px) and (orientation: portrait) {
  h2 {
    font-size: 120px;
    line-height: 110px;
  }

  h3 {
    font-size: 30px;
    line-height: 34px;
  }

  #random_quotes {
    font-size: 50px;
    line-height: 54px;
    letter-spacing: 0;
  }

  footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 200px;
    width: 90%;
  }

  .name {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .adress {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .contact {
    margin: 0;
    padding: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    align-content: start;
  }

  .baseline {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-row: 2/3;
    grid-column: 2/3;
    align-content: start;
  }

  .box_coding {
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
  }

  .box_date {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 620px) and (max-width: 767px) and (orientation: portrait) {
  h2 {
    font-size: 80px;
    line-height: 74px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .box_3 {
    margin-right: 6%;
  }

  #random_quotes {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
  }

  p.description {
    left: 60%;
    bottom: 25%;
  }

  footer {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-height: 300px;
    width: 90%;
  }

  .name {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .adress {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .contact {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .baseline {
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .name,
  .adress,
  .content,
  .baseline {
    padding-top: 0px;
    align-content: center;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 619px) and (orientation: portrait) {
  .logo {
    max-width: 220px;
  }

  .intro_text {
    place-self: center;
  }

  .additional_text {
    margin-top: 0;
    place-self: start;
  }

  h2 {
    font-size: 76px;
    line-height: 70px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  #statement {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-color: var(--accent);
  }

  .box_1 {
    height: 65vh;
    grid-column: 1/2;
    grid-row: 1/3;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
    z-index: 0;
  }

  .box_2 {
    height: 35vh;
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .box_3 {
    margin: 5% auto;
    max-width: 90%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: end;
    justify-content: center;
    text-align: center;
  }

  #random_quotes {
    font-size: 34px;
    line-height: 40px;
    hyphens: none;
  }

  #random_quotes:after {
    width: 40%;
    left: 30%;
    right: 30%;
    bottom: -25px;
    height: 1.2px;
  }

  .box_4 {
    width: 90%;
    grid-column: 1/2;
    grid-row: 3/4;
    align-items: center;
    justify-content: center;
  }

  #portfolio {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 800px;
  }

  footer {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-height: 300px;
    width: 90%;
  }

  .name,
  .adress,
  .content,
  .baseline {
    padding-top: 0px;
    align-content: center;
  }

  .name {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .adress {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .contact {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .baseline {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    align-content: center;
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .box_coding {
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    align-content: end;
  }

  .box_date {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    align-content: start;
  }
}
